<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linker.dao.LikeMapper">
  <resultMap id="BaseResultMap" type="com.linker.model.Like">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="post_id" jdbcType="VARCHAR" property="postId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="comment_id" jdbcType="VARCHAR" property="commentId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, post_id, user_id, comment_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from linker_like
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from linker_like
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.linker.model.Like">
    insert into linker_like (id, post_id, user_id, 
      comment_id)
    values (#{id,jdbcType=VARCHAR}, #{postId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{commentId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.linker.model.Like">
    insert into linker_like
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="postId != null">
        post_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="commentId != null">
        comment_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="postId != null">
        #{postId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="commentId != null">
        #{commentId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.linker.model.Like">
    update linker_like
    <set>
      <if test="postId != null">
        post_id = #{postId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="commentId != null">
        comment_id = #{commentId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linker.model.Like">
    update linker_like
    set post_id = #{postId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      comment_id = #{commentId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>