<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linker.dao.PostMapper">
  <resultMap id="BaseResultMap" type="com.linker.model.Post">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="post_collectnum" jdbcType="INTEGER" property="postCollectnum" />
    <result column="post_likenum" jdbcType="INTEGER" property="postLikenum" />
    <result column="post_commentnum" jdbcType="INTEGER" property="postCommentnum" />
    <result column="post_readnum" jdbcType="INTEGER" property="postReadnum" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, post, created_at, post_collectnum, post_likenum, post_commentnum, post_readnum, 
    img_url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from linker_posts
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from linker_posts
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.linker.model.Post">
    insert into linker_posts (id, user_id, post, 
      created_at, post_collectnum, post_likenum, 
      post_commentnum, post_readnum, img_url
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{post,jdbcType=VARCHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{postCollectnum,jdbcType=INTEGER}, #{postLikenum,jdbcType=INTEGER}, 
      #{postCommentnum,jdbcType=INTEGER}, #{postReadnum,jdbcType=INTEGER}, #{imgUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.linker.model.Post">
    insert into linker_posts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="post != null">
        post,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="postCollectnum != null">
        post_collectnum,
      </if>
      <if test="postLikenum != null">
        post_likenum,
      </if>
      <if test="postCommentnum != null">
        post_commentnum,
      </if>
      <if test="postReadnum != null">
        post_readnum,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="post != null">
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="postCollectnum != null">
        #{postCollectnum,jdbcType=INTEGER},
      </if>
      <if test="postLikenum != null">
        #{postLikenum,jdbcType=INTEGER},
      </if>
      <if test="postCommentnum != null">
        #{postCommentnum,jdbcType=INTEGER},
      </if>
      <if test="postReadnum != null">
        #{postReadnum,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.linker.model.Post">
    update linker_posts
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="post != null">
        post = #{post,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="postCollectnum != null">
        post_collectnum = #{postCollectnum,jdbcType=INTEGER},
      </if>
      <if test="postLikenum != null">
        post_likenum = #{postLikenum,jdbcType=INTEGER},
      </if>
      <if test="postCommentnum != null">
        post_commentnum = #{postCommentnum,jdbcType=INTEGER},
      </if>
      <if test="postReadnum != null">
        post_readnum = #{postReadnum,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linker.model.Post">
    update linker_posts
    set user_id = #{userId,jdbcType=INTEGER},
      post = #{post,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      post_collectnum = #{postCollectnum,jdbcType=INTEGER},
      post_likenum = #{postLikenum,jdbcType=INTEGER},
      post_commentnum = #{postCommentnum,jdbcType=INTEGER},
      post_readnum = #{postReadnum,jdbcType=INTEGER},
      img_url = #{imgUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>